*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}


.container{
    min-width: 1024px;
    position: relative;
    margin: 0px auto;
    font-family: 'Open Sans';
    margin-bottom: 40px;
    
    
}

.container h2{
    font-size: 30px;
    text-align: left;
    text-shadow: 5px;
    font-weight: bold;
}

.modal-header{
    
}

.modal-body{
    padding:40px 50px;
}



